body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.header-dice-button-class {
    background-color: white;
    padding: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.main-click-dice-button {
    background-color: black;
    color:white;
    border:none;
    padding:15px 30px;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
    transition: background-color 0.3s ease;
}

.main-click-button:hover {
    background-color: grey;
}

.footer-class {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: grey
}